@model MenuAddDto
@{
    ViewData["Title"] = "Add";
}

<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Menü Yönetimi /</span> Menü Ekle
</h4>

<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <h5 class="card-header"></h5>
            <form asp-controller="Menu" asp-action="Add" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="card-body">
@*                     <div class="form-group">
                        <label asp-for="MenuSizeId">Boyutlar</label>

                        <a class="btn text-primary float-end" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                            Ekle <i class="bx bx-plus"></i>
                        </a>

                        <select id="menuSizeList" class="form-control" asp-for="MenuSizeId" asp-items="@(new SelectList(Model.MenuSizes,"MenuSizeID","SizeName"))"></select>
                        <span asp-validation-for="MenuSizeId" class="text-danger"></span>
                    </div> *@
                    <br />
                    <div class="form-group">
                        <label asp-for="Name" id="defaultFormControlInput" class="form-label">Başlık</label>
                        <input asp-for="Name" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="Lütfen başlık giriniz." aria-describedby="defaultFormControlHelp">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" id="defaultFormControlInput" class="form-label">Fiyat</label>
                        <input asp-for="Price" type="number" class="form-control mb-3" id="defaultFormControlInput" placeholder="Lütfen Fiyat giriniz." aria-describedby="defaultFormControlHelp">
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Photo" for="defaultFormControlInput" class="form-label">Resim seçiniz</label>
                        <input asp-for="Photo" type="file" accept="image/*" class="form-control mb-3" id="defaultFormControlInput" aria-describedby="defaultFormControlHelp">
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Kaydet</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@* <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Kategori Ekleme</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="d-block form-label">Menü Boyut İsmi</label>
                        <input class="form-control" type="text" id="sizeName" />
                    </div>
                    <div class="form-group">
                        <label class="d-block form-label">Fiyat</label>
                        <input class="form-control" type="text" id="priceModifier" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" data-keyboard="false" class="btn btn-primary" id="btnSave">Kaydet</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {

    <script src="~/js/menuSizeAdd.js"></script>
    <script>
        var app = app || {};
        app.Urls = app.Urls || {};

        app.Urls.baseUrl = '@Url.Content("~")';
        app.Urls.menuSizeAddUrl = "@(Url.Action("AddWithAjax", "MenuSize"))";
        app.Urls.menuAddUrl = "@(Url.Action("Add", "Menu"))";
    </script>

}
 *@