@model SendMessageDto

<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Mesaj Yönetimi /</span> Mesaj Gönder
</h4>

<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <h5 class="card-header"></h5>
            @{
                @if (!User.IsInRole($"{RoleConsts.Superadmin}"))
                {
                    <div class="form-group float-end" style="margin-right: 10px;">
                        <a class="btn btn-primary float-end text-white" id="fillReceiverMailButton" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                            İletişim İçin Mail
                        </a>
                    </div>

                }
            }
            <form asp-controller="Message" asp-action="AdminAnswerToMessage" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="card-body">
                    <br />
                    <div class="form-group">
                        <label asp-for="ReceiverMail" class="form-label">Alıcı Mail</label>
                        <input asp-for="ReceiverMail" type="text" class="form-control mb-3" id="ReceiverMail" placeholder="Lütfen Alıcı Mail giriniz." aria-describedby="defaultFormControlHelp" readonly>
                        <span asp-validation-for="ReceiverMail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Subject" class="form-label">Konu</label>
                        <select asp-for="Subject" class="form-control mb-3" id="Subject">
                            <option value="Sipariş İşlemleri">Sipariş İşlemleri</option>
                            <option value="Hesap İşlemleri">Hesap İşlemleri</option>
                            <option value="Öneri ve Şikayet">Öneri ve Şikayet</option>
                            <option value="Diğer">Diğer</option>
                        </select>
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MessageDetails" class="form-label">Mesaj İçeriği</label>
                        <textarea asp-for="MessageDetails" class="form-control mb-3" id="MessageDetails" placeholder="Lütfen Mesaj İçeriği giriniz." aria-describedby="defaultFormControlHelp"></textarea>
                        <span asp-validation-for="MessageDetails" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Kaydet</button>
                    </div>

                </div>
            </form>
            @{
                @if (!User.IsInRole($"{RoleConsts.Superadmin}"))
                {
                    <div class="form-group float-end justify-content-between flex-b" style="margin-right: 10px;">
                        <div style="margin-right: 10px;">
                            <a class="btn btn-primary float-end text-white" id="orderWhereButton" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                                Siparişim Nerede <i class="bx bx-plus"></i>
                            </a>
                        </div>
                        <div style="margin-right: 10px;">
                            <a class="btn btn-primary float-end text-white" id="orderMissingButton" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                                Sipariş Eksik <i class="bx bx-plus"></i>
                            </a>
                        </div>
                        <div>
                            <a class="btn btn-primary float-end text-white" id="orderNotDeliveredButton" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                                Sipariş Teslim Edilmedi <i class="bx bx-plus"></i>
                            </a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

<!-- Butonun eklenmesi -->




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
   
</script>
